.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-overflow-trim {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}